.bal {
    font-family: Arial;
    text-align: center;
    color: black;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 50%;
}

.main {
    text-align: center;
    align-self: center;
}

.balance{
    cursor: default;
    width: fit-content;
    text-align: left;
}

h3 {
    font-family: 'Georgia', Verdana, sans-serif;
    text-align: center;
    color: black;
}

.sp1 {
    font-family: 'Courier New', Courier, monospace;
    
}